{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="jumbotron content">
  <div class="container">
    <h1 class="display-3">Banco de dados de usuários</h1>
    <p>Esse é um teste primário com o <a href="http://getbootstrap.com/">bootstrap</a> e o <a href="http://flask.pocoo.org/">flask</a>.</p>
    <p>
      Silvio Santos Ipsum ma o Silvio Santos Ipsum é muitoam interesanteam. Com ele ma você vai gerar textuans ha haae.
    </p>
    <p>
      O Raul Gil é gayam! ... Maa O Ah Ae! Ih Ih! O Raul Gil é gayamm! Estamos em ritmo de festamm. Eu não queria perguntar isso publicamente, ma vou perguntar. Carla, você tem o ensino fundamentauam? Patríciaaammmm... Luiz Ricardouaaammmmmm.
    </p>
    <p>
      Qual é a musicamm? Ma vejam só, vejam só. Mah ooooee vem pra cá. Vem pra cá. Valendo um milhão de reaisammm. Ma você, topa ou não topamm. É bom ou não éam? É fácil ou não éam? Mah é a porta da esperançaam. Estamos em ritmo de festamm.
    </p>
    <a class="btn btn-primary btn-lg" href="/users"><i class="fa fa-plus-square" aria-hidden="true"></i> Cadastre-se</a>
  </div>
</div>

<hr>
<footer class="footer">
  <div class="container">
    <p class="text-center"><i class="fa fa-cc" aria-hidden="true"></i> SBT</p>
  </div>
</footer>
{% endblock %}

